<ion-view style="" id="page5" title="Bewertung">
    <ion-content class="has-header" padding="true">
        <h1 style="color: rgb(0, 0, 0); text-align: center;" id="bewertung3-heading3">Gericht_name</h1>
        <div style="" class="button-bar">
            <button class="button button-positive  button-block" id="bewertung3-button13">1</button>
            <button class="button button-positive  button-block" id="bewertung3-button14">2</button>
            <button class="button button-positive  button-block" id="bewertung3-button15">3</button>
            <button class="button button-positive  button-block" id="bewertung3-button16">4</button>
            <button class="button button-positive  button-block" id="bewertung3-button17">5</button>
        </div>
        <form style="" class="list">
            <ion-item style="" class="range range-positive">Menge
                <input name="menge" max="1" min="-1" value="0" type="range">
            </ion-item>
            <ion-toggle style="" name="salzig" toggle-class="toggle-positive">salzig</ion-toggle>
            <label style="" name="kommentar" class="item item-input">
                <span class="input-label">Kommentar</span>
                <input placeholder="" type="text">
            </label>
            <label style="" name="e-mail" class="item item-input">
                <span class="input-label">E-mail</span>
                <input placeholder="" type="email">
            </label>
        </form>
        <a class="button button-positive  button-block" id="bewertung3-button18" href="tel:">Senden</a>
    </ion-content>
</ion-view>